.poll-input {
	width: -webkit-fill-available;
	margin: 20px;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.poll-submit {
	width: -webkit-fill-available;
	margin: 20px;
	padding: 10px;
    border: 1px solid #EB0000;
    border-radius: 10px;
    background-color: #EB0000;
    font-weight: bold;
    color: white;
}

.poll-input-cat {
    width: 70%;
    margin: 20px 5% 20px 20px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    float: left;
}

.poll-submit-cat {
    width: 20%;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 100;
    float: left;
}

.poll-submit-cat:hover {
    background-color: #EB0000;
    color: white;
    border: 1px solid #EB0000;
    font-weight: bold;
}

#cat-item {
    list-style: none;
    float: left;
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 20px;
    border-radius: 10px;
}

#cat-button {
    height: 100%;
    margin-left: 5px;
    background-color: white;
    border: 1px solid lightgrey;
}

#cat-button:hover {
    background-color: red;
    color: white;
}

#cat-name {
    padding-right: 10px;
}

#poll-alert {
    color: #EB0000;
}