.signup-title {
	margin-bottom: 20px;
}

.signup-input {
	width: -webkit-fill-available;
	margin: 10px 5% 10px 5%;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.signup-form {
	text-align: center;
	width: 30%;
	border-radius: 1rem;
	position: relative;
	top: 10vh;
}

.signup-submit {
	width: -webkit-fill-available;
	margin: 30px 5% 20px 5%;
	padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: bold;
}

#signup-cont {
	align-items: center;
	background-image: url('background-movie.png');
	background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    margin-top: 3%;
}

#signup-first {
	width: 40%;
	margin-right: 1px;
    float: left;
}

#signup-last {
	width: 45%;
    float: left;
    margin-right: 0;
}

#signup-age {
	width: 40%;
	margin-right: 1px;
    float: left;
}

#signup-button-primary {
	background-color: #EB0000;
	border-color: white;
	color: white;
	font-weight: bold;
}

#signup-submit-non-primary {
	background-color: white;
	border-color: white;
	margin-top: 10px;
}

#primary-text {
	color:#EB0000;
}

#gender-search {
	width: 40%;
    /* margin: 20px; */
    padding-right: 2%;
	margin: 10px 5% 10px 5%;
    float: left;
}

#gender-search .select-search {
	float: left;
}

#gender-search .select-search__input {
	border: 1px solid lightgray;
    border-radius: 10px;
	width: 119%;
	padding: 10px;
}

#gender-search .select-search__options {
    width: 118%;
}

#signup-alert {
	color: #EB0000;
}