#banner-cont {
	height: 9vh;
	background-color: #EB0000;
	border-color: #EB0000;
	padding-bottom: 2%;
	border-top: 0;
	position: fixed;
	position: fixed;
    width: 100vw;
    top: 0;
    margin-bottom: 20px;
    z-index: 2
}

#banner-title {
	font-size: 200%;
	font-weight: 100;
	color: white;
	margin: 1% 0px 1% 1%;
}

#banner-image {
	margin-top: -15px;
	margin-left: 15px;
	height: 50px;
	width: 50px;
}