#footer-cont {
	height: 5vh;
	background-color: #EB0000;
	border-color: #EB0000;
	border-top: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
    text-align: center;
	position: fixed;
}

#footer-title {
	font-size: 100%;
	font-weight: 100;
	color: white;
	margin: 1% 0px 1% 1%;
}