#timeline-title {
	font-weight: bold;
	font-size: 200%;
}

#create-post {
	border-radius: 10px;
}

#create-post-content {
	padding: 20px 0px 0px 10px;
}

#timeline-post-title {
	margin: 20px;
	font-size: 200%;
	font-weight: 100;
}

#timeline-post-tabs {
	margin-left: 20px;
}

.modal-dialog {
	max-width: 70vw;
}

#timeline-intro {
	font-size: 250%;
	font-weight: 100;
}

#timeline-modal-button {
	position: relative;
	top: 20px;
	float: right;
}

#timeline-modal-trigger {
	border-radius: 10px;
	background-color: white;
	font-weight: 100;
	color: black;
	border-color: lightgrey;
}

#timeline-modal-trigger:hover {
	background-color: lightgrey;
}

#timeline-content-cont {
	margin-top: 20px;
	margin-bottom: 20px;
}

#post-cont {
	border-radius: 5px;
}

#post-title {
	font-size: 150%;
	font-weight: bold;
	padding-bottom: 10px;
}

#list-post {
	font-weight: 100;
}

#items {
	list-style: none;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	width: 25%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.inner-post {
	margin: 20px;
}

.timeline-icon {
	width: 65px;
	height: 65px;
	margin-right: 20px;
	border-radius: 50px;
	border: 1px solid lightgrey;
}

.checked {
	color: #E6AF2E;
}

.inner-post canvas {
	width: 60vw !important;
	height: 60vh !important;
	margin-top: 25px;
}

.poll-vote-option {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.poll-vote-button {
	background-color: white;
	color:  #EB0000;
	border: 1px solid  #EB0000;
	border-radius: 10px;
}

/* LIST */
.list-input {
	width: -webkit-fill-available;
	margin: 20px;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.list-submit {
	width: -webkit-fill-available;
	margin: 20px;
	padding: 10px;
    border: 1px solid #EB0000;
    border-radius: 10px;
    background-color: #EB0000;
    font-weight: bold;
    color: white;
}

.list-input-cat {
    width: 70%;
    margin: 20px 5% 20px 20px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    float: left;
}

.list-submit-cat {
    width: 20%;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 100;
    float: left;
}

#cat-item-list {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#cat-button {
    height: 100%;
    margin-left: 5px;
    background-color: white;
    border: 1px solid lightgrey;
}

#cat-button:hover {
    background-color: red;
    color: white;
}

#cat-name {
    padding-right: 10px;
}

/*POLL */
.poll-input {
	width: -webkit-fill-available;
	margin: 20px;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.poll-submit {
	width: -webkit-fill-available;
	margin: 20px;
	padding: 10px;
    border: 1px solid #EB0000;
    border-radius: 10px;
    background-color: #EB0000;
    font-weight: bold;
    color: white;
}

.poll-input-cat {
    width: 70%;
    margin: 20px 5% 20px 20px;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    float: left;
}

.poll-submit-cat {
    width: 20%;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 100;
    float: left;
}

#cat-item {
    list-style: none;
    float: left;
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 20px;
    border-radius: 10px;
}

#cat-button {
    height: 100%;
    margin-left: 5px;
    background-color: white;
    border: 1px solid lightgrey;
}

#cat-button:hover {
    background-color: red;
    color: white;
}

#cat-name {
    padding-right: 10px;
}

/* RATING */

.rating-rating {
    width: 250px;
    padding: 10px;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
    border: 1px solid lightgrey;
    border-radius: 10px;
    text-align:center;
}

.rating-input {
	width: -webkit-fill-available;
	margin: 20px;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.rating-submit {
	width: -webkit-fill-available;
	margin: 20px;
	padding: 10px;
    border: 1px solid #EB0000;
    border-radius: 10px;
    background-color: #EB0000;
    font-weight: bold;
    color: white;
}

#rating-movie-search {
	width: 25%;
    /* margin: 20px; */
    padding: 10px;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
}

#rating-star-cont {
    width: 100%;
    margin: 20px;
}

.fa {
    font-size: 200%;
}

#rating-movie-sel-cont {
    height: 60px;
}

#movie {
    width: 60%;
    margin: 0;
    padding: 10px;
    float: left;
    font-weight: bold;
}

#rating-movie-search .select-search {
	float: left
}

#rating-movie-search .select-search__input {
	border: 1px solid lightgray;
    border-radius: 10px;
}

/* WWM */
.wwm-input {
	width: -webkit-fill-available;
	margin: 20px;
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.wwm-submit {
	width: -webkit-fill-available;
	margin: 20px;
	padding: 10px;
    border: 1px solid #EB0000;
    border-radius: 10px;
    background-color: #EB0000;
    color: white;
    font-weight: bold;
}

#wwm-movie-search {
	width: 25%;
    /* margin: 20px; */
    padding: 10px;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
}

#movie {
    width: 60%;
    margin: 0;
    padding: 10px;
    float: left;
    font-weight: bold;
}

#wwm-movie-search .select-search {
	float: left
}

#wwm-movie-search .select-search__input {
	border: 1px solid lightgray;
    border-radius: 10px;
}

#timeline-cont {
    width: inherit;
}