.movie-result-image {
    height: 250px;
    width: 160px;
    float: left;
    margin-right: 25px;
}

.movie-result {
    margin-right: 25px;
    height: 310px;
}

.page-link {
    color: #EB0000;
    align-self: center;
}

.page-link:hover {
    color: #EB0000;
}
.page-item.active .page-link {
    background-color: #EB0000;
    border-color: #EB0000;
}